<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewpiort" content="width=device-width, initial-scale=1"/>

    <title>PATH</title>

    <link href="../Styles/index_style.css"  rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../Resources/materialize/css/materialize.min.css"  media="screen,projection"/>

    <link rel="shortcut icon" href="../Resources/svg-flat.png" type="image/png"/>
  </head>
  <body>
    <ul class="dropdown-content" id="dropdown_shapes">
      <li><a href="basic_shapes.html">Formas Básicas</a></li>
      <li class="divider"></li>
      <li><a href="path_page.html">&#60;PATH&#62;</a></li>
    </ul>
    <ul class="dropdown-content" id="dropdown_shapes_2">
      <li><a href="basic_shapes.html">Formas Básicas</a></li>
      <li class="divider"></li>
      <li><a href="path_page.html">&#60;PATH&#62;</a></li>
    </ul>
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo" id="title_logo">SVG</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="menu_header">
          <li><a href="index.html">Introducción</a></li>
          <li><a href="introsvg.html">&#60;SVG&#62;</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown_shapes">Formas<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="collapsible.html">Filtros</a></li>
          <li><a href="mobile.html">JavaScript</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="index.html">Introducción</a></li>
          <li><a href="introsvg.html">&#60;SVG&#62;</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown_shapes_2">Formas<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="collapsible.html">Filtros</a></li>
          <li><a href="mobile.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="center-align">&#60;PATH/&#62;</h1>
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <p>Es el elemento más poderoso en la libreria SVG de figuras básicas. Se puede usar para todo.</p>
          <h6>Atributos:</h6>
          <ul class="collection">
            <li class="collection-item"><span class="teal-text text-darken-2">pathlength</span>: Se acompaña con un atributo global llamado <span class="teal-text text-darken-2">stroke-dasharray</span> que especifica la longitud de la ruta(path) en unidades de usuario. Sirve para calibrar calculos de distancia del navegador.</li>
            <li class="collection-item"><span class="teal-text text-darken-2">d</span>: Define el camino a seguir.</li>
          </ul>
        </div>
      </div>
      <h3>Atributo: <span class="teal-text text-darken-2">d</span></h3>
      <div class="row">
        <div class="col s12 m12 l12 xl12">
          <p>Lo que habrá dentro de este atributo serán los comandos que "path" seguirá para dibujar.</p>
          <h4>Comandos de línea:</h4>
          <table class="bordered responsive-table">
            <thead class="teal white-text">
              <tr>
                <th>Comando</th>
                <th>Posición Absoluta</th>
                <th>Posición Relativa</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Move to</td>
                <td>M</td>
                <td>m</td>
              </tr>
              <tr>
                <td>Line to</td>
                <td>L</td>
                <td>l</td>
              </tr>
              <tr>
                <td>Horizontal Line to</td>
                <td>H</td>
                <td>h</td>
              </tr>
              <tr>
                <td>Vertical Line to</td>
                <td>V</td>
                <td>v</td>
              </tr>
              <tr>
                <td>Curve to</td>
                <td>C</td>
                <td>c</td>
              </tr>
              <tr>
                <td>Smooth Curve to</td>
                <td>S</td>
                <td>s</td>
              </tr>
              <tr>
                <td>Quadratic Bézier Curve to</td>
                <td>Q</td>
                <td>q</td>
              </tr>
              <tr>
                <td>Smooth Quadratic Bézier Curve to</td>
                <td>T</td>
                <td>t</td>
              </tr>
              <tr>
                <td>Elliptical Arc</td>
                <td>A</td>
                <td>a</td>
              </tr>
              <tr>
                <td>Close Path</td>
                <td>Z</td>
                <td>z</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="moveto">
        <h5>Move to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Esto únicamente hace mover el "puntero".</p>
            <blockquote>M x y</blockquote> ó <blockquote>m dx dy</blockquote>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="M_card">
                  &#60;path d="M 10 10"/&#62;<br/>
                  &#60;circle cx="10" cy="10" r="2"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>x</label>: <input type="range" data-moveto="M" id="Mx" min="0" max="100" onchange="cambiopath(this, 'M')" value="10"/>
              </p>
              <p class="range-field">
                <label>y</label>: <input type="range" data-moveto="M" id="My" min="0" max="100" onchange="cambiopath(this, 'M')" value="10"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" version="1.1">
              <path d="M 10 10" class="M"/>
              <circle cx="10" cy="10" r="2" class="M"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="lineto">
        <h5>Line to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una linea recta desde la posición actual a una nueva.</p>
            <blockquote>L x y</blockquote> ó <blockquote>l dx dy</blockquote>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">;
                <p id="L_card">
                  &#60;path d="<br/>M 10 10<br/>L 40 40"<br/>
                  stroke="black"<br/>
                  stroke-width="2"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>x</label>: <input type="range" data-lineto="L" id="Lx" min="0" max="200" onchange="cambiopath(this, 'L')" value="40"/>
              </p>
              <p class="range-field">
                <label>y</label>: <input type="range" data-lineto="L" id="Ly" min="0" max="200" onchange="cambiopath(this, 'L')" value="40"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 10 10 L 40 40" stroke="black" stroke-width="2" class="L"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="hvto">
        <h5>Horizontal &#38; Vertical Line to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una linea recta horizontal o vertical desde la posición actual a una nueva.</p>
            <div class="row">
              <div class="col s6 m6 l6 xl6">
                <blockquote>H x</blockquote> ó <blockquote>h dx</blockquote>
              </div>
              <div class="col s6 m6 l6 xl6">
                <blockquote>V y</blockquote> ó <blockquote>v dy</blockquote>
              </div>
            </div>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="HV_card">
                  &#60;path d="M 100 100 H 40" stroke="black" stroke-width="2"/&#62;<br/>
                  &#60;path d="M 100 100 V 40" stroke="red" stroke-width="2"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>H x</label>: <input type="range" data-hv="H" id="Hx" min="0" max="200" onchange="cambiopath(this, 'H')" value="40"/>
              </p>
              <p class="range-field">
                <label>V y</label>: <input type="range" data-hv="V" id="Vy" min="0" max="200" onchange="cambiopath(this, 'V')" value="40"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 100 100 H 40" stroke="black" stroke-width="2" class="H"/>
              <path d="M 100 100 V 40" stroke="red" stroke-width="2" class="V"/>
            </svg>
          </div>
        </div>
      </div>
      <h2>Comandos de Curvas</h2>
      <h3>Curvas de Bézier</h3>
      <div class="definición">
        <div class="row">
          <div class="col s12 m12 l12 xl12">
            <h6>Un poco de historia-información:</h6>
            <p>Se denominan curvas de Bézier a un sistema desarrollado alrededor de 1960 para el trazado de dibujos técnicos de diseño aeronáutico y en el de automóviles. <br/>
            Se denominó así en honor a Perre Bézier.</p>
          </div>
        </div>
      </div>
      <div class="curveto">
        <h5>Curve to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una curva tomando en cuenta las pendientes de rectas que dibujes (imaginariamente).</p>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <blockquote>C x1 y1 x2 y2 x y</blockquote> ó <blockquote>c dx1 dy1 dx2 dy2 dx dy</blockquote>
              </div>
            </div>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="curveto_card">
                  &#60;path d="M 20 80<br/>C 0,120<br/>170,120<br/>150,80"<br/>stroke="black" stroke-width="2" fill="none"/&#62;<br/><br/>
                  &#60;line x1="20" y1="80" x2="0" 2y="120" stroke="red"/&#62;<br/>
                  &#60;line x1="150" y1="80" x2="170" 2y="120" stroke="blue"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>x1</label>: <input type="range" data-curveto="C" id="Cx1" min="0" max="200" onchange="cambiopath(this, 'C')" value="0"/>
              </p>
              <p class="range-field">
                <label>y1</label>: <input type="range" data-curveto="C" id="Cy1" min="0" max="200" onchange="cambiopath(this, 'C')" value="120"/>
              </p>
              <p class="range-field">
                <label>x2</label>: <input type="range" data-curveto="C" id="Cx2" min="0" max="200" onchange="cambiopath(this, 'C')" value="170"/>
              </p>
              <p class="range-field">
                <label>y2</label>: <input type="range" data-curveto="C" id="Cy2" min="0" max="200" onchange="cambiopath(this, 'C')" value="120"/>
              </p>
              <p class="range-field">
                <label>x</label>: <input type="range" data-curveto="C" id="Cx" min="0" max="200" onchange="cambiopath(this, 'C')" value="150"/>
              </p>
              <p class="range-field">
                <label>y</label>: <input type="range" data-curveto="C" id="Cy" min="0" max="200" onchange="cambiopath(this, 'C')" value="80"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 20,80 C 0,120 170,120 150,80" stroke="black" stroke-width="2" class="C" fill="none"/>
              <line x1="20" y1="80" x2="0" y2="120" stroke="red" id="CLine1"/>
              <line x1="150" y1="80" x2="170" y2="120" stroke="blue" id="CLine2"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="smoothcurveto">
        <h5>Smooth Curve to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una curva tomando en cuenta las pendientes de rectas que dibujes (imaginariamente) y la curva anterior a esa (Curve to).</p>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <blockquote>S x2 y2 x y</blockquote> ó <blockquote>S dx2 dy2 dx dy</blockquote>
              </div>
            </div>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="smoothcurveto_card">
                  &#60;path d="M 20 80<br/>C 0,120<br/>170,120<br/>150,80<br/> S 160,40<br/>200,80"<br/>stroke="black" stroke-width="2" fill="none"/&#62;<br/><br/>
                  &#60;line x1="150" y1="80" x2="170" 2y="120" stroke="red"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>x2</label>: <input type="range" data-smoothcurveto="S" id="Sx2" min="0" max="200" onchange="cambiopath(this, 'S')" value="160"/>
              </p>
              <p class="range-field">
                <label>y2</label>: <input type="range" data-smoothcurveto="S" id="Sy2" min="0" max="200" onchange="cambiopath(this, 'S')" value="40"/>
              </p>
              <p class="range-field">
                <label>x</label>: <input type="range" data-smoothcurveto="S" id="Sx" min="0" max="200" onchange="cambiopath(this, 'S')" value="200"/>
              </p>
              <p class="range-field">
                <label>y</label>: <input type="range" data-smoothcurveto="S" id="Sy" min="0" max="200" onchange="cambiopath(this, 'S')" value="80"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 20,80 C 0,120 120,120 100,80 S 160,40 200,80" stroke="black" stroke-width="2" class="S" fill="none"/>
              <line x1="100" y1="80" x2="120" y2="120" stroke="blue" id="SLine1"/>
              <line x1="200" y1="80" x2="160" y2="40" stroke="red" id="SLine3"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="quadratic">
        <h5>Quadratic Bézier Curve to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una curva tomando en cuenta un punto de control donde será la intersección de las líneas (imaginarias) trazadas desde los extremos de la curva.</p>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <blockquote>Q x1 y1 x y</blockquote> ó <blockquote>q dx1 dy1 dx dy</blockquote>
              </div>
            </div>
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="quadratic_card">
                  &#60;path d="M 20,80<br/> Q 60,10<br/>120,80"<br/>stroke="black" stroke-width="2" fill="none"/&#62;<br/><br/>
                  &#60;line x1="60" y1="10" x2="20" y2="80" stroke="red"/&#62;<br/>
                  &#60;line x1="60" y1="10" x2="120" y2="80" stroke="blue"/&#62;
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 l6 xl6">
            <form action="#">
              <p class="range-field">
                <label>x1</label>: <input type="range" data-quadratic="Q" id="Qx1" min="0" max="200" onchange="cambiopath(this, 'Q')" value="60"/>
              </p>
              <p class="range-field">
                <label>y1</label>: <input type="range" data-quadratic="Q" id="Qy1" min="0" max="200" onchange="cambiopath(this, 'Q')" value="10"/>
              </p>
              <p class="range-field">
                <label>x</label>: <input type="range" data-quadratic="Q" id="Qx" min="0" max="200" onchange="cambiopath(this, 'Q')" value="120"/>
              </p>
              <p class="range-field">
                <label>y</label>: <input type="range" data-quadratic="Q" id="Qy" min="0" max="200" onchange="cambiopath(this, 'Q')" value="80"/>
              </p>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 20,80 Q 60,10 120,80" stroke="black" stroke-width="2" class="Q" fill="none"/>
              <line x1="60" y1="10" x2="20" y2="80" stroke="red" id="QLine1"/>
              <line x1="60" y1="10" x2="120" y2="80" stroke="blue" id="QLine2"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="smoothquadratic">
        <h5>Smooth Quadratic Bézier Curve to</h5>
        <div class="row">
          <div class="col s12 m12 l6 xl6">
            <p>Dibuja una curva tomando en cuenta la curva anterior generando una (por así decirlo) inversa o volteada a esa.</p>
            <div class="row">
              <div class="col s12 m12 l12 xl12">
                <blockquote>T x y</blockquote> ó <blockquote>t dx dy</blockquote>
              </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" version="1.1">
              <path d="M 20,80 Q 50,20 100,80 T 180,80" stroke="black" stroke-width="2" class="T" fill="none"/>
            </svg>
          </div>
          <div class="col s12 m12 l6 xl6">
            <div class="card  teal lighten-2">
              <div class="card-content white-text">
                <p id="smoothquadratic_card">
                  &#60;path d=
                  <form action="#">
                    <div class="input-field col s12 m12 l12 xl12">
                      <input type="text" value="M 20,80 Q 50,20 100,80 T 180,80" class="validate" id="dsq"/>
                      <label for="dsq" class="white-text">d</label>
                    </div>
                  </form>
                  stroke="black" stroke-width="2" fill="none"/&#62;
                </p>
              </div>
            </div>
            <a class="waves-effect waves-teal btn col s4 m4 l4 xl4" onclick="cambiopath(this, 'T')" >Probar</a>
          </div>
        </div>
      </div>

    </div>

    <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l12 s12">
              <span class="white-text">Página desarrollada por Avalos Gutiérrez Juan Ramón.</span>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017 All rights reserved
          </div>
        </div>
    </footer>

    <script type="text/javascript" src="../Resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../Resources/materialize/js/materialize.min.js"></script>

    <script type="text/javascript" src="../Resources/normalevents.js"></script>
  </body>
</html>
