<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Práctica 1</title>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="700" height="900" id="svgimag">
      <rect x="10" y="10" width="200" height="10" fill="black"/>
      <circle cx="100" cy="250" r="90" fill="red" stroke="black" stroke-width="5" id="circulo1"/>
	  <image xlink:href="../../Resources/chicken_1.png" x="600" y="400" width="100" id="pollo"/>
    </svg>
    <script type="text/javascript" src="../../Resources/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
      var circ=$("#circulo1");
      setInterval(function(){
        circ.attr("fill","red");
        setTimeout(function(){
          circ.attr("fill","yellow");
          setTimeout(function(){
            circ.attr("fill","green");
          },500);
        },3000);
      },5000);
      $("#circulo1").click(function(){
        window.alert(circ.attr("fill"));
      });
	  var posho = 0;
	  var movex = 600;
	  $("#pollo").click(function(){
		  window.alert('Run');
		  setInterval(function(){
			$("#pollo").attr("x",movex%700);
			if(movex == 0){
				movex =600;
			}
			movex-=10;
		  },20);
		  setInterval(function(){
			posho++;
			$("#pollo").attr("xlink:href","../../Resources/chicken_"+((posho%3)+1)+".png");
		  },170);
		});
    </script>

  </body>
</html>
