#row_container_top{
  padding-top:3%;
  padding-bottom:2%;
  margin-top:7%;
}
 #menu_header{
  padding-right:2%;
}
#title_logo{
  padding-left:2%;
}
#video_responsive{
  padding-top:2%;
}
.namespaces_example, .shapes_indent{
  text-indent: 2em;
}
.namespace_definition{
  text-align: justify;
}
blockquote{
  border-left-color:rgb(77,182,172);
}
.prefijos, #secret_part, #axis{
  opacity:0;
}
.ventaja-desventaja{
  padding:2%;
}
#titulo1{
  text-shadow: 1px 1px 3px black;
}
.titulo{
  text-shadow: 2px 2px 1px black;
}
